body{
	text-align: center;
}

h1 {
	font-size: 3.2em;
	display: inline-block;
}

.hideshow{
	display: inline-block;
	cursor: pointer;
}

#loggedin{
	font-family: Helvetica;
}

#login{
	text-align: left;
}

#info-container{
	font-size: 16px;
}

#top-guide{
	display: block;
	padding-left: 45px;
	padding-right: 45px;
	width: 100%;
	text-align: left;
}


#oauth{
	display:none;
	overflow: hidden;
}

#help{
	text-align: left;
	padding-top: 15px;
	font-size: 1.2em;
}

#overall-container{
	text-align: center;
	margin-bottom: 80px;
}

/* begin search bar */
#page-form{
	display: inline-block;
	width: 60%;	
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 2px;
	padding-bottom: 0px;
	margin-top: 25px;
}

#search-input{
	display: block;
	height: inherit;
	border: none;
	background-color: #f1f1f1;
	border-radius: 10px;
	outline: none;
	font-size: 24px;
	line-height: 140%;
	float: left;
	width: 100%;
	padding-top: .2em;
	padding-bottom: .2em;
	padding-left: .4em;
	padding-right: .4em;
}

.threebuttons{
	margin-top: .5em;
	width: 30%;
	margin-left: 1%;
	margin-right: 1%;
	font-size: 2em;
	border: none;
	text-decoration: underline;
	text-decoration-style: solid 2px #cacaca;
	background-color: white;
}

.threebuttons:hover{
	background-color: #f1f1f1;
}

#results-list {
	width: 80%;
	display: inline-block;
	text-align: left;
}

.list-group-item{
	border-left: none;
	border-right: none;
	border-bottom: 1px #f1f1f1;
}

.list-group-item:first-child{
	border-top: none;
}

.openexternal{
	font-weight: 700;
}

#results-list li {
	height: auto;
	font-size: 2em;
}

#results-list li img{
	height: 2.8em;
	width: 2.8em;
	padding-top: .3em;
	display: inline-block;
	vertical-align: top;
}

#results-list li a{
	color: #6c6c6c;
	cursor: pointer;
}

.response-container{
	display: inline-block;
	border-collapse: all;
	border: none;
	height: 3em;
	padding-left: 1em;
	width: 80%;
}

.second-row{
	font-size: .5em;
	overflow-wrap: scroll;
	margin: 0px;
}


#results-list li a:hover {
	text-decoration: none;
	color: black;
	transition: 0.2s;
}
/** begin table CSS **/

#showmore{
	display: inline-block;
	width: 30%;
	border-radius: .2em;
	border: none;
	text-decoration: underline;
	text-decoration-style: solid 2px #cacaca;
	background-color: white;
}

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
 	.container{
 		margin-left: 5%;
 		margin-right: 5%;
 		padding-left: 0px;
 		padding-right: 0px;
 		width: 80%;
 	}

 	#info-container{
 		padding-left: 0px;
 		padding-right: 0px;
		font-size: 4.2em;
		line-height: 130%;
		overflow: ;
	}

	#info-container h3 {
		font-size: 2em;
	}
}